<span ng-show="dont">Home</span>
<div class="panel panel-default">
  <span>
  Search by Category:<select id="category" ng-model="categorySearch">
 <option ng-repeat="category in view.availableItems" ng-model="cats"> {{category.categories[0]}}</option>
 </select>
 <form id="searching">
   Search by name:<input type="text" name="name" value="" ng-model="searchBox">
 </form>
<a href="#/shopping-cart"><button  id="buttoncheckout" type="button" class="btn btn-default navbar-btn" >Checkout | {{ numItemsInCart == undefined ? "Your Cart is Empty" : numItemsInCart}}</button></a>
</span>
<table class="table table-striped table-hover table-bordered">
  <tr>
    <th>Tea</th>
   <th>Information</th>
   <th>
     Search by Price: <select ng-model="priceSearch">
    <option value="price"> lowest to highest </option>
    <option value="-price"> highest to lowest </option>
    </select>
   </th>
  </tr>
  <tr ng-repeat="tea in view.availableItems | filter: searchBox | orderBy: priceSearch | orderBy: categorySearch">
   <td><img ng-src="{{tea.imageUrl}}" alt="tea_image"/></td>
   <td><h1>{{tea.name}}</h1>
   <h2>Price: {{tea.price / 100 | currency}}</h2>
   <p>Caffine Scale: {{tea.caffeineScale}}</p>
   <p>Ingredients: {{tea.ingredients}}</p>
   <p>Rating: {{tea.rating}}</p>
   <p>In Stock? {{tea.inStock == true ? "Yes" : "False" }}</p>
   <p>
     <h5>Categories</h5>
     <span ng-repeat="category in tea.categories">{{category}}</span>
     </p>
   </td>
   <td>
     Quantity:<select ng-model='qty' >
       <option ng-repeat="quantity in quantities">{{quantity}}</option>
     </select>
    <button id="addtoBag" ng-click="addItem(tea, qty)">Add To Bag</button>
   <div class="caffine-selection">
     <h4>Caffine</h4>
     mg/serving: {{tea.caffeineScale}}
     <caffeine-meter caffeinemg="tea.caffeineScale" id="tea._id"></caffeine-meter>
   </div>
  </td>
  </tr>
</table>
