<span ng-show="always">shopping-cart</span>
<div id="aboveItems">
  <h2>My Shopping Bag</h2>
  <h2 id="totalCost" >Total Price:{{ sum / 100 | currency}}</h2>
</div>
<table class="table table-striped table-hover table-bordered">
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Sub-total</th>
  </tr>
  <tr ng-repeat="teaInCart in view.teaInCart">
    <td>
     <h1>{{teaInCart.name}}</h1>
     <img ng-src="{{teaInCart.imageUrl}}" alt="tea_image"/>
     <p>Caffine Scale: {{teaInCart.caffeineScale}}</p>
     <p>Ingredients: {{teaInCart.ingredients}}</p>
     <p>Rating: {{teaInCart.rating}}</p>
    </td>
    <td>
       <div ng-repeat="quantities in teaInCart.qty">
         <p ng-show="toogleme">
           {{quantities}}
         </p>
         <select ng-model="numbs" ng-hide="toogleme">
           <option ng-repeat="qnties in quantys" value="{{qnties}}">
           {{qnties}}
           </option>
         </select>
       </div>
   </td>
    <td>
     {{teaInCart.qty * (teaInCart.price /100) | currency}}
    </td>
    <td>
     <button id="editButton" type="submit" ng-show="toogleme" ng-click="toogleme = !toogleme; edit($qty)">Edit</button>
     <button type="button" ng-hide="toogleme" ng-click="edit($index, numbs)">Update</button>
     <button id="removeItem" ng-click="removeItem($index, $price)">Remove</button>
    </td>
  </tr>
</table>
